extends ../layouts/default
include ../mixins/header
include ../mixins/about
include ../mixins/recipe

block js
	script(src='/js/chef.js')

block content

	+header(data, section)

	.ui.page.grid.segment.body.about
		.column
			.ui.stackable.grid

				.four.wide.column.picture-wrapper
					.picture
						if !profile.media.avatar.url
							- profile.media.avatar.url = '../images/test_user.png'

						#profile-img.ui.image.avatar(style="background-image: url(#{profile.media.avatar.url}); background-size: cover; background-position:center; ")
							if profile.isPrivate
								.icon-chef-candado.rounded.show-editable

				.twelve.wide.column.info
					h2.ui.header
						strong#profile-name= profile.name
					if profile.isPrivate
						#profile-about.ui.content!= __('Profile is private')
					else
						#profile-about.ui.content!= profile.about


	if !profile.isPrivate
		.ui.page.grid.segment.body
			.row.tablet.computer.only
				.three.tabs.tab-header
					.row
						.tab
							div(class="#{subsection === 'recipes' ? 'active' : ''}").ui.button.chef.button-green
								a(href='/chef/#{profile.username}/recetas')= __('Recipes')
						.tab
							.ui.button.chef.button-green.disabled
								a= __('Menus')
						.tab
							.ui.button.chef.button-green.disabled
								a= __('Tips')

			if subsection == 'recipes'
				#recipes.tab-content
					.row.tablet.computer.only
						.two.tabs
							.row
								.tab
									.active.ui.button.chef.button-green
										a= __('Recipes')
								.tab
									.ui.button.chef.button-green.disabled
										a= __('Favorites')
					.row
						.ui.grid.segment.list
							if recipes.length
								each recipe in recipes
									.row.position
										+recipe(recipe)
							else
								| #{__('No recipes yet')}

					.row.loader
						.sixteen.wide.column.loading= __('Loading more recipes')
						.sixteen.wide.column.load-more
							.ui.button.chef.button-brick.load-button
								a(href="#")= __('Load more')
