extends ../layouts/default
include ../mixins/header
include ../mixins/about
include ../mixins/recipe
include ../mixins/menu
include ../mixins/tip

block js
	script(src='/js/chef.js')

block content
	- var vars ={}
	- vars.image = profile ? profile.media.header.url : defaults.images.profile
	- vars.headerClasses = 'user-profile'
	- vars.headerElements =  'with-title'

	+header(data, section, vars)

	.ui.page.grid.segment.body.about
		.column
			.ui.stackable.grid

				.four.wide.column.picture-wrapper
					.picture
						if !profile.media.avatar.url
							- profile.thumb.avatar_large = '../images/default_user.png'

						#profile-img.ui.image.avatar(style="background-image: url(#{profile.thumb.avatar_large}); background-size: cover; background-position:center; ")
							if profile.isPrivate
								.icon-chef-candado.rounded.fake-editable

				.twelve.wide.column.info
					h2.ui.header
						strong#profile-name= profile.name
					if profile.isPrivate
						#profile-about.ui.content!= __('Profile is private')
					else
						#profile-about.ui.content!= profile.about

	if !profile.isPrivate
		#profile-chef.ui.page.grid.segment.body
			.row.tablet.computer.only
				.four.tabs.tab-header
					.row
						.tab
							a(href='/chef/#{profile.username}/recetas')
								div(class="#{subsection === 'recipes' ? 'active' : ''}").ui.button.chef.button-green
									| #{__('Recipes')}
						.tab
							a(href='/chef/#{profile.username}/favoritas')
								div(class="#{subsection === 'favourites' ? 'active' : ''}").ui.button.chef.button-green
									| #{__('Favorites')}
						.tab
							a(href='/chef/#{profile.username}/tips')
								div(class="#{subsection === 'tips' ? 'active' : ''}").ui.button.chef.button-green
									| #{('Tips')}
						.tab
							a(href='/chef/#{profile.username}/menus')
								div(class="#{subsection === 'menus' ? 'active' : ''}").ui.button.chef.button-green
									| #{__('Menus')}
			.row.mobile.only.explain
				#select.sixteen.wide.column
					.icon.icon-chef-select
					select
						option(value='/chef/#{profile.username}/recetas', selected=subsection === 'recipes' ? 'selected' : false)
							| #{__('Recipes')}
						option(value='/chef/#{profile.username}/favoritas', selected=subsection === 'favourites' ? 'selected' : false)
							| #{__('Favorites')}
						option(value='/chef/#{profile.username}/tips', selected=subsection === 'tips' ? 'selected' : false)
							| #{__('Tips')}
						option(value='/chef/#{profile.username}/menus', selected=subsection === 'menus' ? 'selected' : false)
							| #{__('Menus')}

			if subsection == 'recipes'
				#recipes.tab-content
					.row
						.ui.grid.segment.list.stackable
							if recipes.length
								each recipe in recipes
									+recipe(recipe)
							else
								.empty-resultset.sixteen.wide.column= __('No recipes yet')

					.row.loader
						.sixteen.wide.column.loading= __('Loading more recipes')
						.sixteen.wide.column.load-more
							.ui.button.chef.button-brick.load-button
								a(href="#")= __('Load more')

			if subsection == 'favourites'
				#favourites.tab-content
					.row
						.ui.grid.segment.list.stackable
							if recipes.length
								each recipe in recipes
									+recipe(recipe)
							else
								.empty-resultset.sixteen.wide.column= __('No recipes yet')

					.row.loader
						.sixteen.wide.column.loading= __('Loading more recipes')
						.sixteen.wide.column.load-more
							.ui.button.chef.button-brick.load-button
								a(href="#")= __('Load more')

			if subsection == 'menus'
				#menus.tab-content
					.row
						.ui.grid.segment.list.stackable
							if menus.length
								each menu in menus
									+menu(menu)
							else
								.empty-resultset.sixteen.wide.column= __('No menus yet')

					.row.loader
						.sixteen.wide.column.loading= __('Loading more menus')
						.sixteen.wide.column.load-more
							.ui.button.chef.button-brick.load-button
								a(href="#")= __('Load more')

			if subsection == 'tips'
				#tips.tab-content
					.row
						.ui.grid.segment.list.stackable
							if tips.length
								each tip in tips
									+tip(tip)
							else
								.empty-resultset.sixteen.wide.column= __('No tips yet')

					.row.loader
						.sixteen.wide.column.loading= __('Loading more tips')
						.sixteen.wide.column.load-more
							.ui.button.chef.button-brick.load-button
								a(href="#")= __('Load more')