extends ../layouts/default

include ../mixins/header

block js
  script(src='/js/contest.js')

block content
  +header(data, section)

  .ui.page.grid
    #contest-content.ui.grid.segment
      .row
        #info.eight.tablet-twelve.mobile-eight.wide.column
          .status
            .status-tag(class=data.contest.state)
              = __(data.contest.state)

          .subheader
            i.icon-chef-heart.icon
            = __('Contest sponsored by')
            strong= data.contest.sponsor

        #actions.eight.tablet-four.mobile-eight.wide.column.right.aligned.hide-editable
          .contest-actions(class=data.contest.state)
            .action.vote
              .ui.button.chef.button-brick
                a(href='/concurso/#{data.contest.slug}/candidatos/recientes')= __('Vote for your favourite')

            .action.join
              .ui.button.chef.button-yellow
                a(href='/nueva-receta/#{data.contest.slug}')= __('Join the contest')

      #contest-description.row
        .sixteen.wide.column
          .header= __('Description')

        .sixteen.wide.column
          .explain
            .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.contest.description

      #contest-awards.row(class=data.contest.state)
        .sixteen.wide.column
          .header= __('Awards')

        .award.sixteen.wide.column
          .icon
            img(src='/images/jury_award.png')

          .explain
            .subheader
              strong= __('Jury award') + data.contest.awards.jury.name
            .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.contest.awards.jury.description

        .award.sixteen.wide.column
          .icon
            img(src='/images/community_award.png')

          .explain
            .subheader
              strong= __('Community award') + data.contest.awards.community.name
            .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.contest.awards.community.description

      if data.contest.state === 'finished'

        - console.log(data.contest.awards.jury.winner);
        - console.log(data.contest.awards.community.winner);

        #winners.row
          .sixteen.wide.column
            .header= __('Winners')

          .recipe-winner.four.tablet-four.mobile-eight.wide.column(style='background-image: url(#{data.contest.awards.jury.winner.header.url})')
            .author-winner
              img.author(src='#{data.contest.awards.jury.winner.author.avatars.local.url}')
              img.award(src='/images/jury_award.png')

          .recipe-award.four.tablet-four.mobile-eight.wide.column
            .user= data.contest.awards.jury.winner.author.username
            .title
              a(href='/receta/#{data.contest.awards.jury.winner.slug}')= data.contest.awards.jury.winner.title
            .subheader
              strong= __('Jury award')
            .award= data.contest.awards.community.name

          .recipe-winner.four.tablet-four.mobile-eight.wide.column(style='background-image: url(#{data.contest.awards.community.winner.header.url})')
            .author-winner
              img.author(src='#{data.contest.awards.community.winner.author.avatars.local.url}')
              img.award(src='/images/community_award.png')

          .recipe-award.four.tablet-four.mobile-eight.wide.column
            .user= data.contest.awards.community.winner.author.username
            .title
              a(href='/receta/#{data.contest.awards.community.winner.slug}')= data.contest.awards.community.winner.title
            .subheader
              strong= __('Community award')
            .award= data.contest.awards.community.name



      #ranking.row(class=data.contest.state)
        .sixteen.wide.column
          .header= __('Ranking')
          .subheader= __('Invite your friends')

        - var top = data.top

        if top && top.length > 0
          - for (var i = 0, l = top.length; i < l; i++)
            .top-contest.four.tablet-four.mobile-sixteen.wide.column(style='background-image: url(#{top[i].header.url})')
              .top-rating
                i.icon-chef-star.icon
                  span= top[i].rating
              .top-info
                span
                  strong= (i + 1) + '# '
                  a(href='/receta/#{top.slug}')= top[i].title

                .top-share.center.aligned
                  a(href='http://twitter.com')
                      i.icon-chef-twitter.icon
                  a(href='http://facebook.com')
                      i.icon-chef-facebook.icon

        else
          span= __('No recipes for this contest yet')

        .sixteen.wide.column.right.aligned
          .ui.button.chef.button-green
            a(href='/concurso/#{data.contest.slug}/candidatos/top')= __('Show all')


      #contest-terms.row(class=data.contest.state)
        .sixteen.wide.column
          .header= __('Terms')

        .sixteen.wide.column
          .explain
            .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.contest.terms