extends ../layouts/default

include ../mixins/header

block js
  script(src='/js/contest.js')

block content
  +header(data, section)

  .ui.page.grid
    #contest-content.ui.grid.segment
      .row
        #info.eight.tablet-twelve.mobile-eight.wide.column
          h1.ui.header= data.contest.title
          span= __('Contest sponsored by {{{sponsor}}}', { sponsor: data.contest.sponsor })

        #actions.eight.tablet-four.mobile-eight.wide.column.right.aligned.hide-editable
          .contest-actions
            .vote
              .ui.button.chef.button-brick
                a(href='/concurso/#{data.contest.slug}/candidatos/recientes')= __('Vote for your favourite')

            .favourite
              .ui.button.chef.button-yellow
                a(href='/nueva-receta/#{data.contest.slug}')= __('Join the contest')

      #contest-description.row
        .sixteen.wide.column
          .ui.header= __('Description')

        .sixteen.wide.column
          .explain
            .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.contest.description

      #contest-awards.row
        .sixteen.wide.column
          .ui.header= __('Awards')

        .sixteen.wide.column
          .explain
            .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.contest.awards.jury.description

        .sixteen.wide.column
          .explain
            .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.contest.awards.community.description

      #ranking.row
        .sixteen.wide.column
          .ui.header= __('Ranking')

        - var top = data.top

        if top && top.length > 0
          - for (var i = 0, l = top.length; i < l; i++)
            .top-recipe.four.tablet-four.mobile-sixteen.wide.column(style='background-image: url(#{top[i].header.url})')
              .top-rating
                i.icon-chef-star.icon
                  span= top[i].rating
              .top-info
                span
                  strong= (i + 1) + '# '
                  a(href='/receta/#{top.slug}')= top[i].title

                .top-share.center.aligned
                  a(href='http://twitter.com')
                      i.icon-chef-twitter.icon
                  a(href='http://facebook.com')
                      i.icon-chef-facebook.icon

        else
          span= __('No recipes for this contest yet')

        .sixteen.wide.column.right.aligned
          .ui.button.chef.button-green
            a(href='/concurso/#{data.contest.slug}/candidatos/top')= __('Show all')


      #contest-terms.row
        .sixteen.wide.column
          .ui.header= __('Terms')

        .sixteen.wide.column
          .explain
            .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.contest.terms