extends ../layouts/default

include ../mixins/header
include ../mixins/grid
include ../mixins/recipe
include ../mixins/search

block js
	script(src='/js/recipes.js')

block content
	- var vars = {}
	- vars.image = data.header ? data.header.thumb.header : '/images/default_index.jpg'
	- vars.promotedTitle = data.header ? data.header.title : __('No recommendation')
	- vars.promotedUrl = data.header ? data.header.url : '/recetas'
	- vars.headerClasses = 'promoted'
	- vars.headerElements = 'simple with-social'

	+header(data, section, vars)

	- var randCutlery = Math.floor(Math.random() * 6 + 1);

	.ui.page.grid.body

		+search()

		include ../components/banner


		#index-grid.ui.grid.segment.wall
			.row.computer.only
				+grid(data.grid, data.order.grid_order_desktop_home, data.sizes.grid_size_desktop_home)

			.row.tablet.only
				+grid(data.grid, data.order.grid_order_tablet_home, data.sizes.grid_size_tablet_home)

			.row.mobile.only
				+grid(data.grid, data.order.grid_order_mobile_home, data.sizes.grid_size_mobile_home)

		#add-new-bar.ui.grid.segment
			.row
				.sixteen.wide.column
					.span= __('Do you have a new recipe?')
						a.ui.button.chef.button-brick(href='/nueva-receta')= __('Create recipe')

		if data.recipes.last
			- var recipeTitle = data.recipes.last.title
			- var recipedUrl = data.recipes.last.url
			- var recipeDate = data.recipes.lastFormattedDate
			- var image = data.recipes.last.thumb.header

			#video.ui.grid.segment.with-social(style="background-image:url('#{image}')")
				.row

				.row

				.row
					.six.wide.column
					img.cutlery(src="/images/cutlery_0#{randCutlery}.png")
					.img-title.ten.mobile-sixteen.wide.column

						.tabla
							.tabla1
								.ui.image
							.tabla2
								.text
									a.span(href="#{recipedUrl}")= recipeTitle
								.date
									.span= recipeDate
							.tabla3
								.ui.image

		#recipes.ui.grid.segment

			.row
				.ui.grid.segment.list.stackable
					if data.recipes.lastest.length
						each recipe in data.recipes.lastest
							+recipe(recipe)

					else
						.empty-resultset.sixteen.wide.column= __('No recipes yet')

			.row
				a.ui.button.chef.button-brick(href='/videorecetas')= __('View all')