extends ../layouts/default

include ../mixins/recipe

block content
	#login.signin.ui.grid.segment
		.ui.page.grid.head.basic
			.row.logo
				a.icon-chef-logo.icon(href="/")

			.row.section
				.title= __('Access')
				.subtitle= __('Come and enjoy')

		.ui.page.grid.body
			.row
				.sixteen.wide.column
					.ui.two.column.grid
						.column.center.aligned.group
							.explain.right= __('Register with social networks')

							include ../components/signin-social

						.column.dashed.group
							.explain.left= __('or register with email')

							include ../components/login-local
		.ui.page.grid.body
			.row.tail
				.sixteen.wide.column
					.link
						| #{__('Don\'t have an account?') + ''} 
						a(href='/registro')= __('Register')

block js
	| <script>
	|	chef.errorMessages = chef.errorMessages || {}
	|	chef.errorMessages['Email format'] = "#{__('Error: Email format')}"
	|	chef.errorMessages['Password format'] = "#{__('Error: Password format')}"
	| </script>