extends ../layouts/default

include ../mixins/header
include ../mixins/menu
include ../mixins/grid
include ../mixins/search

block js
	script(src='/js/menus.js')

block content

	- var vars = {}
	- vars.title =  __('Menus')
	- vars.image = data.header ? data.header.thumb.header : '/images/default_menu.jpg'
	- vars.promotedTitle = data.header ? data.header.title : __('No recommendation')
	- vars.promotedUrl = data.header ? data.header.url : '/menus'
	- vars.headerClasses = 'promoted'
	- vars.headerElements = 'with-title with-social'

	+header(data, section, vars)

	.ui.page.grid.body

		+search('menus')


		#menus-grid.ui.grid.segment.wall
			.row.computer.only
				+grid(data.grid, data.order.grid_order_desktop_menus, data.sizes.grid_size_desktop_menus)

			.row.tablet.only
				+grid(data.grid, data.order.grid_order_tablet_menus, data.sizes.grid_size_tablet_menus)

			.row.mobile.only
				+grid(data.grid, data.order.grid_order_mobile_menus, data.sizes.grid_size_mobile_menus)

		#add-new-bar.ui.grid.segment
			.row
				.sixteen.wide.column
					.span= __('Do you have a new menu?')
						a.ui.button.chef.button-brick(href='/nuevo-menu')= __('Create menu')

		#menus.ui.grid.segment.two.tabs
			.row
				.ui.grid.segment.list.stackable
					if data.menus.length
						each menu in data.menus
							+menu(menu)

					else
						.empty-resultset.sixteen.wide.column= __('No menus yet')

			.row
				.loader
					.sixteen.wide.column.loading= __('Loading more menus')
					.sixteen.wide.column.load-more
						.ui.button.chef.button-brick.load-button
							a(href="#")= __('Load more')