extends ../layouts/default

include ../mixins/header
include ../mixins/recipe

block js
  script(src='/js/participants.js')

block content
  +header(data, section)

  .ui.page.grid
    #participants-content.ui.grid.segment
      .row
        #info.sixteen.wide.column
          .header
            i.icon-chef-cup.icon
            = __('Ranking')

          .subheader
            .status-tag.open= __('Deadline at ') + data.contest.deadline

      .row.tablet.computer.only
        .two.tabs.tab-header
          .row
            .tab
              div(class="#{subsection === 'top' ? 'active' : 'disabled'}").ui.button.chef.button-brick
                a(href='/concurso/#{data.contest.slug}/participantes/top')= __('Top rated')
            .tab
              div(class="#{subsection === 'reciente' ? 'active' : 'disabled'}").ui.button.chef.button-brick
                a(href='/concurso/#{data.contest.slug}/participantes/reciente')= __('Recent')

      #recipes.tab-content
        .row
          .ui.grid.segment.list
            - var recipes = data.recipes;

            if recipes.length
              each recipe in recipes
                .row.position
                  +recipe(recipe)
            else
              | #{__('No recipes yet')}

        .row.loader
          .sixteen.wide.column.loading= __('Loading more recipes')
          .sixteen.wide.column.load-more
            .ui.button.chef.button-brick.load-button
              a(href="#")= __('Load more')
