extends ../layouts/default

include ../mixins/about

block content
	.ui.grid.segment.user-profile(style="background-image: url(#{user.media.header.url}); background-size: cover;")
		.ui.page.grid.head
			.column
				.row
					include ../components/header

				.row.logo.shadow
					a.icon-chef-logo.icon(href="/")

				.row.section
					.title.shadow Mi recetario

				.row
					.twelve.wide.column

					.four.wide.column.social
						.ui.button.chef.button-gray
							i.social.icon-chef-camera
							a(href='/') Cambiar imagen

	.ui.page.grid.user-profile-content.body
		.ui.grid.two.column.stackable
			.column
			.row.about
				+about(user)

			.five.tabs
				.row
					.tab
						.ui.button.chef.button-green
							a(href='/') Mi perfil
					.tab
						.ui.button.chef.button-green.disabled
							a Lista del super
					.tab
						.ui.button.chef.button-green.disabled
							a Mis recetas
					.tab
						.ui.button.chef.button-green.disabled
							a Mis menús
					.tab
						.ui.button.chef.button-green.disabled
							a Mis tips

			.tab-content
				#profile
					.row
						.two.column.stackable.ui.grid
							.two.wide.column
								#name.field
									label Nombre
									.input!= user.name.split(' ')[0]
							.fourteen.wide.column
								#last-name.field
									label Apellidos
									.input!= user.name.split(' ')[1]

					.row
						.two.column.stackable.ui.grid
							.column
								#user-name.field
									label Nombre de usuario
									.input!= user.username

							.column
								#email.field
									label Correo electrónico
									.input!= user.email

					.row
						.one.column.stackable.ui.grid
							.column
								#password.field
									label Cambiar la password
									.ui.button.chef.button-brick
										a(href='/') Cambiar password

					.row
						.one.column.stackable.ui.grid
							.column
								#about.field
									label Cuentanos un poco de ti
									p.input!= user.about

					.row
						.one.column.stackable.ui.grid
							.column
								#private.field
									.icon-chef-tick.checks
									label ¿Quieres que tu perfil sea privado?