extends ../layouts/default

include ../mixins/header
include ../mixins/question

block js
  script(src='/js/questions.js')


block content

  +header(data, section)

  #prev-questions.ui.page.grid.bg-grey
      .row
        .sixteen.wide.column
          h2.title.header.font-extra-larger.uppercase= __('Previous questions')
          p.subheader= __('Make your question, Jesús Gibaja and network users solve your doubts.')
      
  .ui.page.grid.body

    #send-query.ui.grid.segment
      .row
        .ui.form
          form.field
            .ui.icon.input
              input(type='text', placeholder="#{__('Write here your question_')}")
              button.icon.chef.button-brick-side= __('Send')

    #questions.ui.grid.segment.two.tabs
      .row.tab-header
        .tab
          a(href='/preguntas/recientes')
            div(class="#{subsection === 'recientes' ? 'active' : ''}").ui.button.chef.button-yellow
              | #{('Recents')}
        .tab
          a(href='/preguntas/populares')
            div(class="#{subsection === 'populares' ? 'active' : ''}").ui.button.chef.button-yellow
              | #{('Populars')}

      if subsection === 'recientes'
        .row
          .ui.grid.segment.list.stackable
            if data.questions.length
              each question in data.questions
                +question(question)
            else
              | #{__('No questions yet')}

        .row
          .loader
            .sixteen.wide.column.loading= __('Loading more Questions')
            .sixteen.wide.column.load-more
              .ui.button.chef.button-brick.load-button
                a(href="#")= __('Load more')

      else if subsection === 'populares'
        .row
          .ui.grid.segment.list.stackable
            if data.questions.length
              each question in data.questions
                +question(question)
            else
              | #{__('No questions yet')}

        .row
          .loader
            .sixteen.wide.column.loading= __('Loading more Questions')
            .sixteen.wide.column.load-more
              .ui.button.chef.button-brick.load-button
                a(href="#")= __('Load more')