extends ../layouts/default

include ../mixins/header

include ../mixins/question

block js
  script(src='/js/questions.js')


block content
  - var vars = {}
  - vars.image = '/images/questions_header.jpg'
  - vars.headerClasses = 'narrow'
  - vars.headerElements = 'with-title'
  - vars.title = __('Questions')

  +header(data, section, vars)

  .ui.page.grid.body

    #question.ui.grid.segment

      #query
        .row
          .ui.column.grid
            a.icon-chef-back.icon(href="/preguntas")
            a.icon-chef-back.icon(href="/preguntas")
              span= __('Back')
        .row
          a.ui.item.profile(href=data.question.author ? data.question.author.url : false)
            -var avatar = data.question.author ? data.question.author.thumb.avatar_large : "/images/default_user.png"
            .ui.image.avatar(style='background-image: url(#{avatar})')
        .row
            a.name(href=data.question.author ? data.question.author.url : false)
              span.span= data.question.author ? data.question.author.name : __('Unknown author')
            .date
                span.span= data.formattedDate
        .row
          .ui.content
            .explain.span= data.question.title

      #answer.ui.grid.stackable
        .three.wide.column.tablet-four
          a.ui.item.profile(href='/acerca')
            - var avatar2 = data.question.chef ? data.question.chef.thumb.avatar_large : "/images/default_user.png"
            .ui.image(style='background-image: url(#{avatar2})')

        .thirteen.wide.column.tablet-eleven
          .row
            .ui.content
              .header= __('Chef Answer:')
              .explain.span!= data.question.answer
            //- a.commentary(href=data.question.url)
            //-   .strong= __('Coments')

      #related.ui.grid.stackable.segment
        h2.ui.header= __('Related questions')
        if related && related.length > 0
          - for (var i = 0, l = related.length; i < l; i++)
            .row
              .related
                a(href='#{related[i].url}')
                  .explain.span!= related[i].title
                  .arrow-left
          .row
            .related.button
              a(href='/preguntas')
                  .explain.span= __('View all')
        else
          .empty-resultset.sixteen.wide.column= __('No related questions yet')