extends ../layouts/default

include ../mixins/recipe

include ../mixins/header

include ../mixins/difficult-items

block vars
  - bodyClasses.push(data.recipe.classes)

block js
  //- JAVASCRIPT
  script(src='/js/recipe.js')

  if isNew
    script.
      $(document).ready(function(){
        console.log('Ready');
        window.chef.setEditableModeOn();

        // Overwrite cancell function
        $('#cancel.button-manage').off().on('click', function() {
          window.location.href ='/recetas';
        });
      });

  //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
  //- which generate links to edit content for users who can access Keystone
  if user && user.canAccessKeystone
    script(src='/keystone/js/content/editor.js')

block content

  if own
    input#hidden-title(type='hidden' name='title')
    input#hidden-difficulty(type='hidden' name='difficulty')
    input#hidden-time(type='hidden' name='time')
    input#hidden-portions(type='hidden' name='portions')
    input#hidden-description(type='hidden' name='description')
    input#hidden-ingredients(type='hidden' name='ingredients')
    input#hidden-procedure(type='hidden' name='procedure')
    input#hidden-categories(type='hidden' name='categories')
    input(type='hidden' name='_csrf' value='#{csrftoken}')
    if data.contest && isNew
      input(type='hidden' name='contest.id' value='#{data.contest._id}')

  +header(data, section)
  #color-bar.ui.grid.show-editable
    .five.column.row
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
  if (data.contest)
    .ui.page.grid.bg-grey
      .row
        #info.eight.tablet-twelve.mobile-eight.wide.column
          .recipe-contest
            a.title.header.font-extra-larger.uppercase.remove-editable(href=data.contest.url)= data.contest.title
            span.title.header.font-extra-larger.uppercase.display-editable= data.contest.title
            .subheader
              i.icon-chef-cup.icon.font-extra-large
              = __('Contest sponsored by')
              strong= data.contest.sponsor

  .ui.page.grid
    #recipe-content.ui.grid.segment
      .row
        #info.tablet-twelve.mobile-eight.wide.column(class = data.contest ? 'seven' : 'ten')
          .recipe-attributes

            #recipe-difficulty.dropdown.difficulty.set-editable(tabindex='1')
              - var levels = [ __('Very easy'), __('Easy'), __('Normal'), __('Hard'), __('Very hard') ]
              - var difficulty = data.recipe.difficulty || 2
              - var category = levels[difficulty - 1]

              .itemSelected
                .item(data-value=difficulty)
                  - for(var i = 0; i < 5; i++)
                      if difficulty == 0
                        i.icon-chef-tenedor.icon.off
                      else
                        i.icon-chef-tenedor.icon.on
                        - difficulty = difficulty - 1
                    .span= category

              .options
                +difficult-items(levels)

              i.dropdown.icon


            #recipe-time.time(tabindex='2')
              i.icon-chef-time.icon

              .editable-container
                .set-editable(placeholder=__('Time'))= data.recipe.time
              .span= __('min')

            #recipe-portions.portions(tabindex='3')
              i.icon-chef-porciones.icon
              .editable-container
                .set-editable(placeholder=__('Portions'))= data.recipe.portions
              .span= __n('person','people',data.recipe.portions)

            if (!data.contest)
              .rating.hide-editable
                .ui.rating(data-slug=data.recipe.slug)
                  - var rating = Math.floor(data.recipe.rating)
                  - var r = rating
                  - for(var x = 0; x < 5; x++)
                    if r == 0
                      i.icon-chef-star.icon
                    else
                      i.icon-chef-star.icon.active
                      - --r;
                  .rating-value.span.skip.mobile= data.recipe.rating.toFixed(2).replace(/[.,]00$/, "")

        #actions.tablet-four.mobile-eight.wide.column.right.aligned.hide-editable(class = data.contest ? 'nine' : 'six')
          .recipe-actions
            if (data.contest)
              - var ratingclasses = []
              - if (data.liked) ratingclasses.push('liked')
              - if (['submission', 'votes'].indexOf(data.contest.state) === -1) ratingclasses.push('disabled')
              - ratingclasses = ratingclasses.join(' ')
              .rating(data-slug=data.recipe.slug , class = ratingclasses)
                .ui.icon.like.font-larger
                  i.icon-chef-like.icon.like-button.font-extra-larger
                  span.like-counter= data.recipe.likes || 0
            .favourite
              .ui.button.chef.button-yellow.switch(data-slug = data.recipe.slug, class = data.favourited ? 'activated' : '')
                i.icon-chef-heart.icon.checks.chef
                | #{__('Favorite')}

            .add-menu
              .ui.button.chef.button-brick
                a= __('Add to menu')

      #recipe-categories.row.hide-editable
        .sixteen.wide.column
          if (data.categories)
            .icon-chef-candado.icon
            .explain
              - for (var k = 0, n = data.categories.length; k < n; k++)
                = data.categories[k]

      #recipe-description.row
        .sixteen.wide.column
          .explain
            .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.recipe.description

      .row
        .sixteen.wide.column
          h2.ui.header= __('Ingredients')
          .explain
            .ui.content= __('In case that you don\'t have enough ingredients [...]')

          .ui.button.chef.button-green.shopping-add(data-slug = data.recipe.slug, class = data.inShoppingList ? 'disabled' : '')
            a(href="/acceso")= __('Add to shopping basket')

        if data.contest
          .recipe-contest-ingredient.sixteen.wide.column
            .icon-chef-cesta.checks
            .ui.content.font-large= data.contest.ingredientRequired

        #ingredients.sixteen.wide.column
          .ui.three.mobile-one.tablet-two.column.grid
            if data.recipe.ingredients
              - var ingredients = data.recipe.ingredients
              - for (var j = 0, l = ingredients.length; j < l; j++)
                .column.ingredient
                  .icon-chef-cesta.checks.hide-editable
                  .editable-container
                    .explain.set-editable(placeholder=__('Ingredient'), spellcheck='false')!= ingredients[j]
                  .show-editable
                    .ingredient-remove
                      i.icon-chef-cross

            .column.ingredient.show-editable
                .icon-chef-cesta.checks.hide-editable
                .editable-container
                  .explain.set-editable(placeholder=__('Add ingredient'), spellcheck='false')
                .show-editable
                  .ingredient-remove
                    i.icon-chef-cross

          .column.hide-editable
            .ingredient
              .icon-chef-cesta-all.checks.all
              .span= __('Select all')

        .ingredients-manage.manage.sixteen.wide.column.show-editable
          .ingredient
            .ui.button.chef.button-brick.ingredient-add
              a= __('Add ingredient')

      .row
        #procedure.sixteen.wide.column
          h2.ui.header= __('Procedure')
          #steps
            - var j = 0
            if data.recipe.procedure
              - var steps = data.recipe.procedure
              - for (var m = steps.length; j < m; j++)
                .step
                  .icon-chef-tick.checks.hide-editable
                  .ui.header.index
                    span.index-label= __('Step') + ' ' + (j + 1) + ': '
                    .step-remove.show-editable= __('Remove step')
                  .explain.ui.content.set-editable(placeholder=__('Step'), spellcheck='false')!= steps[j]

            .step.show-editable
              .icon-chef-tick.checks.hide-editable
              .ui.header.index
                span.index-label= __('Step:') + ' ' + (j + 1)
                .step-remove.show-editable= __('Remove step')
              .ui.content.set-editable(placeholder=__('Add step'), spellcheck='false')

        .step-manage.manage.sixteen.wide.column.show-editable
          .step
            .ui.button.chef.button-brick.step-add
              a= __('Add step')

      .row.show-editable
        .sixteen.wide.column
          h2.ui.header= __('Categories')
          .explain
            .ui.content= __('Help us categorize your recipe')

        #categories.sixteen.wide.column
          if (categories.plates)
            .row
              .sixteen.wide.column
                h4= __('Plate type')
                #plates.categories
                  - var selected = false
                  - for (var k = 0, n = categories.plates.length; k < n; k++)
                    - selected = false

                    if (data.recipe.categories && data.recipe.categories.indexOf(categories.plates[k]) > 0)
                      - selected = true

                    .category(class= (selected) ? 'selected' : '')= categories.plates[k]

          if (categories.food)
            .row
              .sixteen.wide.column
                h4= __('Food type')
                #food.categories
                  - var selected = false
                  - for (var k = 0, n = categories.food.length; k < n; k++)
                    - selected = false

                    if (data.recipe.categories && data.recipe.categories.indexOf(categories.food[k]) > 0)
                      - selected = true

                    .category(class= (selected) ? 'selected' : '')= categories.food[k]

      .hide-editable.ui.grid.stackable
        #related.four.column.row
          h2.ui.header= __('other recipes')
          if related && related.length > 0
            - for (var i = 0, l = related.length; i < l; i++)
              .column
                .related(style='background-image: url(#{related[i].thumb.header}); background-position:center; background-size:cover;')
                  a(href='#{related[i].url}')
                    .content
                      span= related[i].title
            .column
              .related.button
                a(href='/recetas')
                  .content
                    span= __('View all')
          else
            .sixteen.wide.column
              .subheader= __('No related recipes yet')