extends ../layouts/default

include ../mixins/recipe

block content
	#recipe.ui.grid.segment
		.ui.page.grid.head.with-title.with-social
			#header.row
				include ../components/header

			.row.logo.shadow
				a.icon-chef-logo.icon(href="/")

			.row.section
				.title.shadow= __('Recipes')

			.row
				.social.five.wide.column= __('Follow us on social networks')
					.ui.four.column.center.aligned.grid
						.column
							a.ui.item(href='http://twitter.com')
								.ui.icon
									i.icon-chef-twitter.icon
						.column
							a.ui.item(href='http://youtube.es')
								.ui.icon
									i.icon-chef-google.icon
						.column
							a.ui.item(href='http://facebook.com')
								.ui.icon
									i.icon-chef-facebook.icon
						.column
							a.ui.item(href='http://pinterest.es')
								.ui.icon
									i.icon-chef-pinterest.icon

				.three.wide.column

				.img-title.eight.wide.column
					img.ui.image(src = '../frontend/images/test_recipe.png')
					.text
						.span Lasagna del chef

	.ui.page.grid.body

		include ../components/search

		#add-new-bar.ui.grid.segment
			.row
				.sixteen.wide.column
					.span= __('Do you have a new recipe?')
						.ui.button.chef.button-brick
							a(href='/')= __('Create recipe')

		#recipes.ui.grid.segment.two.tabs
			.row
				.tab
					.ui.button.chef.button-green
						a(href='/recetas')= __('Popular')
				.tab
					.ui.button.chef.button-green.disabled
						a= __('Season')

			.row
				.ui.grid.segment.list
					if data.recipes.results.length
						each recipe in data.recipes.results
							.row
								+recipe(recipe)
					else
						| #{__('No recipes yet')}

			.row.loader
				.sixteen.wide.column
					.span= __('Loading more recipes')
