extends ../layouts/default

include ../mixins/recipe

include ../mixins/header

include ../mixins/difficult-items

block vars
  - bodyClasses.push(data.recipe.classes)

block js
  //- JAVASCRIPT
  script(src='/js/recipe.js')

  if isNew
    script.
      $(document).ready(function(){
        console.log('Ready');
        window.chef.setEditableModeOn();

        // Overwrite cancell function
        $('#cancel.button-manage').off().on('click', function() {
          window.location.href ='/recetas';
        });
      });

  //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
  //- which generate links to edit content for users who can access Keystone
  if user && user.canAccessKeystone
    script(src='/keystone/js/content/editor.js')

block content

  if own
    input#hidden-title(type='hidden' name='title')
    input#hidden-difficulty(type='hidden' name='difficulty')
    input#hidden-time(type='hidden' name='time')
    input#hidden-portions(type='hidden' name='portions')
    input#hidden-description(type='hidden' name='description')
    input#hidden-ingredients(type='hidden' name='ingredients')
    input#hidden-procedure(type='hidden' name='procedure')
    input(type='hidden' name='_csrf' value='#{csrftoken}')
    if data.contest && isNew
      input(type='hidden' name='contest.id' value='#{data.contest._id}')

  +header(data, section)
  #color-bar.ui.grid.show-editable
    .five.column.row
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
  if (data.contest)
    .ui.page.grid.bg-grey
      .row
        #info.eight.tablet-twelve.mobile-eight.wide.column
          .recipe-contest
            a.title.header.font-extra-larger.uppercase.remove-editable(href=data.contest.url)= data.contest.title
            span.title.header.font-extra-larger.uppercase.display-editable= data.contest.title
            .subheader
              i.icon-chef-cup.icon.font-extra-large
              = __('Contest sponsored by')
              strong= data.contest.sponsor

  .ui.page.grid
    #recipe-content.ui.grid.segment
      .row
        #info.seven.tablet-twelve.mobile-eight.wide.column
          .recipe-attributes

            #recipe-difficulty.dropdown.difficulty.set-editable(tabindex='1')
              - var categories = [ __('Very easy'), __('Easy'), __('Normal'), __('Hard'), __('Very hard') ]
              - var difficulty = data.recipe.difficulty || 2
              - var category = categories[difficulty - 1]

              .itemSelected
                .item(data-value=difficulty)
                  - for(var i = 0; i < 5; i++)
                      if difficulty == 0
                        i.icon-chef-tenedor.icon.off
                      else
                        i.icon-chef-tenedor.icon.on
                        - difficulty = difficulty - 1
                    .span= category

              .options
                +difficult-items(categories)

              i.dropdown.icon


            #recipe-time.time(tabindex='2')
              i.icon-chef-time.icon

              .editable-container
                .set-editable(placeholder=__('Time'))= data.recipe.time
              .span= __('min')

            #recipe-portions.portions(tabindex='3')
              i.icon-chef-porciones.icon
              .editable-container
                .set-editable(placeholder=__('Portions'))= data.recipe.portions
              .span= __n('person','people',data.recipe.portions)
            if (!data.contest)
              .rating.hide-editable
                - var rating = Math.floor(data.recipe.rating)
                - var r = rating
                - for(var x = 0; x < 5; x++)
                  if r == 0
                    i.icon-chef-star.icon.off
                  else
                    i.icon-chef-star.icon.on
                    - --r;
                .span.skip.mobile= rating
          
        #actions.nine.tablet-four.mobile-eight.wide.column.right.aligned.hide-editable
          .recipe-actions
            .rating(data-slug=data.recipe.slug)
              .ui.icon.like.font-larger
                i.icon-chef-like.icon.like-button.font-extra-larger
                span.like-counter= data.recipe.likes || 0
            .favourite
              .ui.button.chef.button-yellow.switch
                i.icon-chef-heart.icon.checks.chef
                | #{__('Favorite')}

            .add-menu
              .ui.button.chef.button-brick
                a= __('Add to menu')
            
      #recipe-description.row
        .sixteen.wide.column
          .explain
            .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.recipe.description

      .row
        .sixteen.wide.column
          h2.ui.header= __('Ingredients')
          .explain
            .ui.content= __('In case that you don\'t have enough ingredients [...]')

        if data.contest
          .recipe-contest-ingredient.sixteen.wide.column
            .icon-chef-cesta.checks
            .ui.content.font-large= data.contest.ingredientRequired

        #ingredients.sixteen.wide.column
          .ui.three.mobile-one.tablet-two.column.grid
            if data.recipe.ingredients
              - var ingredients = data.recipe.ingredients
              - for (var j = 0, l = ingredients.length; j < l; j++)
                .column.ingredient
                  .icon-chef-cesta.checks.hide-editable
                  .editable-container
                    .set-editable(placeholder=__('Ingredient'), spellcheck='false')!= ingredients[j]
                  .show-editable
                    .ingredient-remove
                      i.icon-chef-cross

            .column.ingredient.show-editable
                .icon-chef-cesta.checks.hide-editable
                .editable-container
                  .set-editable(placeholder=__('Add ingredient'), spellcheck='false')
                .show-editable
                  .ingredient-remove
                    i.icon-chef-cross

          .column.hide-editable
            .ingredient
              .icon-chef-cesta-all.checks.all
              .span= __('Select all')

        .ingredients-manage.manage.sixteen.wide.column.show-editable
          .ingredient
            .ui.button.chef.button-brick.ingredient-add
              a= __('Add ingredient')

      .row
        #procedure.sixteen.wide.column
          h2.ui.header= __('Procedure')
          #steps
            - var j = 0
            if data.recipe.procedure
              - var steps = data.recipe.procedure
              - for (var m = steps.length; j < m; j++)
                .step
                  .icon-chef-tick.checks.hide-editable
                  .ui.header.index
                    span.index-label= __('Step:') + ' ' + (j + 1)
                    .step-remove.show-editable= __('Remove step')
                  .ui.content.set-editable(placeholder=__('Step'), spellcheck='false')!= steps[j]

            .step.show-editable
              .icon-chef-tick.checks.hide-editable
              .ui.header.index
                span.index-label= __('Step:') + ' ' + (j + 1)
                .step-remove.show-editable= __('Remove step')
              .ui.content.set-editable(placeholder=__('Add step'), spellcheck='false')

        .step-manage.manage.sixteen.wide.column.show-editable
          .step
            .ui.button.chef.button-brick.step-add
              a= __('Add step')
