extends ../layouts/default

include ../mixins/recipe

include ../mixins/header

include ../mixins/difficultItems

block css
  link(href='/styles/site.min.css', rel='stylesheet')

  //- This file provides the default styling for the KeystoneJS Content Editor
  if user && user.canAccessKeystone
    link(href='/keystone/styles/content/editor.min.css', rel='stylesheet')

  //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  //- Safely remove this block if you are not targeting IE8
  //-[if lt IE 9]
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  //-[endif]

block js
  //- JAVASCRIPT
  script(src='/js/recipe.js')

  if isNew
    script.
      $(document).ready(function(){
        // First coppy original value in data attribute for each false form component
        var $title = $('#recipe-title');
        var $difficulty = $('#recipe-difficulty .itemSelected');
        var $time = $('#recipe-time .set-editable');
        var $portions = $('#recipe-portions .set-editable');
        var $description = $('#recipe-description .set-editable');
        var $ingredients = $('#recipe-ingredients .set-editable');
        var $procedure = $('#recipe-procedure .set-editable');

        $title.empty();
        $time.empty();
        $portions.empty();
        $description.empty();

        // Change to editable mode
        $('body').addClass('mode-editable');
        $('.set-editable:not(.dropdown)').attr('contenteditable', true);

        $title.focus();

        // Overwrite cancell function
        $('#cancel.button-manage').off().on('click', function() {
          window.location.href ='/recetas';
        });
      });

  //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
  //- which generate links to edit content for users who can access Keystone
  if user && user.canAccessKeystone
    script(src='/keystone/js/content/editor.js')

block content

  - var urlAction = '/';
  if isNew
    - urlAction = '/nueva-receta'
  else
    - urlAction = '/receta/' + data.recipe.slug

  if own
    form#recipe-edit-form(action=urlAction + '/save' method='POST' enctype='multipart/form-data')
      input#hidden-title(type='hidden' name='title')
      input#hidden-difficulty(type='hidden' name='difficulty')
      input#hidden-time(type='hidden' name='time')
      input#hidden-portions(type='hidden' name='portions')
      input#hidden-description(type='hidden' name='description')
      input#hidden-ingredients(type='hidden' name='ingredients')
      input#hidden-procedure(type='hidden' name='procedure')
      input(type='hidden' name='_csrf' value='#{csrftoken}')

    form#recipe-remove-form(action=urlAction + '/remove' method='POST' enctype='multipart/form-data')
      input(type='hidden' name='_csrf' value='#{csrftoken}')

  +header(data.recipe, section)

  .ui.page.grid
    #recipe-content.ui.grid.segment
      .row
        #info.ten.tablet-twelve.mobile-eight.wide.column
          .recipe-attributes

            #recipe-difficulty.dropdown.difficulty.set-editable(tabindex='1')
              - var categories = [ __('Very easy'), __('Easy'), __('Normal'), __('Difficult'), __('Very difficult') ]
              - var difficulty = data.recipe.difficulty || 2
              - var category = categories[difficulty - 1]

              .itemSelected
                .item(data-value=difficulty)
                  - for(var i = 0; i < 5; i++)
                      if(difficulty == 0)
                        i.icon-chef-tenedor.icon.off
                      else
                        i.icon-chef-tenedor.icon.on
                        - difficulty = difficulty - 1;
                    .span= category

              .options
                +difficultItems(categories)

              i.dropdown.icon


            #recipe-time.time(tabindex='2')
              i.icon-chef-time.icon

              .editable-container
                .set-editable(placeholder=__('Time'))= data.recipe.time
              .span= __('min')

            #recipe-portions.portions(tabindex='3')
              i.icon-chef-porciones.icon
              .editable-container
                .set-editable(placeholder=__('Portions'))= data.recipe.portions
              .span= __n('person','people',data.recipe.portions)

            .rating.hide-editable
              - var rating = Math.floor(data.recipe.rating)
              - var r = rating
              - for(var x = 0; x < 5; x++)
                if(r == 0)
                  i.icon-chef-star.icon.off
                else
                  i.icon-chef-star.icon.on
                  - --r;

              .span= rating

        #actions.six.tablet-four.mobile-eight.wide.column.right.aligned.hide-editable
          .recipe-actions
            .favourite
              .ui.button.chef.button-yellow.switch.mini
                i.icon-chef-heart.icon.checks.chef
                | #{__('Favorite')}

            .add-menu
              .ui.button.chef.button-brick
                a= __('Add to menu')

      #recipe-description.row
        .sixteen.wide.column
          .explain
            .ui.content.set-editable(spellcheck='false', tabindex='4', placeholder=__('Description'))!= data.recipe.description

      .row
        .sixteen.wide.column
          h2.ui.header= __('Ingredients')
          .explain
            .ui.content= __('In case that you don\'t have enough ingredients [...]')

        if data.recipe.ingredients

          #ingredients.sixteen.wide.column
            .ui.three.mobile-one.tablet-two.column.grid
              - var ingredients = data.recipe.ingredients
              - for (var j = 0, l = ingredients.length; j < l; j++)
                .column.ingredient
                  .icon-chef-cesta.checks.hide-editable
                  .editable-container
                    .set-editable(placeholder=__('Ingredient'), spellcheck='false')!= ingredients[j]
                  .show-editable
                    .ingredient-remove
                      i.icon-chef-cross

              .column.ingredient.show-editable
                  .icon-chef-cesta.checks.hide-editable
                  .editable-container
                    .set-editable(placeholder=__('Add ingredient'), spellcheck='false')
                  .show-editable
                    .ingredient-remove
                      i.icon-chef-cross

            .ingredients-manage.column.hide-editable
              .ingredient
                .icon-chef-cesta.checks.all
                .span= __('Select all')

        .ingredients-manage.column.show-editable
          .ingredient
            .ui.button.chef.button-brick.ingredient-add
              a= __('Add ingredient')

      .row
        .sixteen.wide.column
          h2.ui.header= __('Procedure')

        if data.recipe.procedure
          #procedure.sixteen.wide.column
            #steps
              - var steps = data.recipe.procedure
              - var j = 0
              - for (var m = steps.length; j < m; j++)
                .step
                  .icon-chef-tick.checks.hide-editable
                  .ui.header.index
                    = __('Step:') + ' ' + (j + 1)
                    .step-remove.show-editable= __('Remove step')
                  .ui.content.set-editable(placeholder=__('Step'), spellcheck='false')!= steps[j]

              .step.show-editable
                .icon-chef-tick.checks.hide-editable
                .ui.header.index= __('Step:') + ' ' + (j + 1)
                  .step-remove.show-editable= __('Remove step')
                .ui.content.set-editable(placeholder=__('Add step'), spellcheck='false')

        .step-manage.column.show-editable
          .step
            .ui.button.chef.button-brick.step-add
              a= __('Add step')
