extends ../layouts/default

include ../mixins/recipe

include ../mixins/header


block vars
  - bodyClasses.push(data.recipe.classes)
  - bodyClasses.push('no-editor-borders')

block js
  //- JAVASCRIPT
  script(src='/js/recipe.js')

  if config
    script.
      window.chef.editor.config = !{JSON.stringify(config)};

  if isNew
    script.
      $(document).ready(function(){
        console.log('Ready');
        window.chef.setEditableModeOn();

        // Overwrite cancell function
        $('#cancel.button-manage').off().on('click', function() {
          window.location.href ='/recetas';
        });
      });

  //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
  //- which generate links to edit content for users who can access Keystone
  if user && user.canAccessKeystone
    script(src='/keystone/js/content/editor.js')

  | <script>
  | chef.errorMessages = chef.errorMessages || {}
  | chef.errorMessages['File too big'] = "#{__('File too big')}"
  | </script>

block content

  if own
    input#hidden-title(type='hidden' name='title')
    input#hidden-difficulty(type='hidden' name='difficulty')
    input#hidden-time(type='hidden' name='time')
    input#hidden-portions(type='hidden' name='portions')
    input#hidden-description(type='hidden' name='description')
    input#hidden-ingredients(type='hidden' name='ingredients')
    input#hidden-procedure(type='hidden' name='procedure')
    input#hidden-categories(type='hidden' name='categories')
    input(type='hidden' name='_csrf' value='#{csrftoken}')
    if data.contest && isNew
      input(type='hidden' name='contest.id' value='#{data.contest._id}')

  +header(data, section)
  #color-bar.ui.grid.show-editable
    .five.column.row
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
  if (data.contest)
    .ui.page.grid.bg-grey
      .row
        #info.sixteen.wide.column
          .recipe-contest
            a.title.header.uppercase.remove-editable(href=data.contest.url)= data.contest.title
            span.title.header.uppercase.display-editable= data.contest.title
            .subheader
              i.icon-chef-cup.icon.font-extra-large
              span.explain= __('Contest sponsored by')
              strong.explain= data.contest.sponsor

  .ui.page.grid
    #recipe-content.ui.grid.segment

      include ../components/recipe-content

      - var classCategory = 'show-editable'
      if data.recipe.categories && data.recipe.categories.length > 0
        - classCategory = ''

      #categories.row(class=classCategory)
        .sixteen.wide.column
          h2.ui.header= __('Categories')
          .explain.show-editable
            .ui.content= __('Help us categorize your recipe')

        #categories-editor.sixteen.wide.column.show-editable
          if (categories.plates)
            .row
              .sixteen.wide.column
                h4= __('Plate type')
                #plates.categories
                  - var selected = false

                  - for (var k = 0, n = categories.plates.length; k < n; k++)
                    - selected = false

                    if (data.recipe.categories && data.recipe.categories.indexOf(categories.plates[k]) >= 0)
                      - selected = true

                    .category(class= (selected) ? 'selected' : '')= categories.plates[k]

          if (categories.food)
            .row
              .sixteen.wide.column
                h4= __('Food type')
                #food.categories
                  - var selected = false

                  - for (var k = 0, n = categories.food.length; k < n; k++)
                    - selected = false

                    if (data.recipe.categories && data.recipe.categories.indexOf(categories.food[k]) >= 0)
                      - selected = true

                    .category(class= (selected) ? 'selected' : '')= categories.food[k]

        if data.recipe.categories && data.recipe.categories.length > 0
          #recipe-categories.sixteen.wide.column.hide-editable
            .row
              .sixteen.wide.column
                - for (var x = 0, y = data.recipe.categories.length; x < y; x++)
                  .category.selected= data.recipe.categories[x]

      #others.row.hide-editable(class=(classCategory !== '') ? 'no-margin-top' : '')
        #recipes.ui.grid.stackable.segment
          #related.four.column.row
            h2.ui.header= __('other recipes')
            if related && related.length > 0
              - for (var i = 0, l = related.length; i < l; i++)
                .column
                  .related(style='background-image: url(#{related[i].thumb.header}); background-position:center; background-size:cover;')
                    a(href='#{related[i].url}')
                      .content
                        span= related[i].title
              .column
                .related.button
                  a(href='/recetas')
                    .content
                      .span= __('View all')
            else
              .empty-resultset.sixteen.wide.column= __('No related recipes yet')
