extends ../layouts/default

include ../mixins/recipe

block css
	link(href="../frontend/styles/site.css", rel="stylesheet")

	//- This file provides the default styling for the KeystoneJS Content Editor
	if user && user.canAccessKeystone
		link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

	//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	//- Safely remove this block if you are not targeting IE8
	//-[if lt IE 9]
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
	//-[endif]

block js
	//- JAVASCRIPT
	script(src='/packages/jquery/dist/jquery.min.js')
	script(src='/packages/jquery-address/src/jquery.address.js')
	script(src='/packages/semantic-ui/build/packaged/javascript/semantic.js')

	script(src='/frontend/js/main.js')

	//- The KeystoneJS Content Editor provides support for ks-editable data attributes,
	//- which generate links to edit content for users who can access Keystone
	if user && user.canAccessKeystone
		script(src='/keystone/js/content/editor.js')

block content
	#recipe-single.ui.grid.segment
		.ui.page.grid
			.row
				include ../components/header

			.row
				.four.wide.column

				.logo.eight.wide.column
					a.icon-chef-logo.icon(href="/")

					.span= data.recipe.title
					.span.author= data.recipe.author.name.first + ' ' + data.recipe.author.name.last

			.row
				.twelve.wide.column

				.social.four.wide.column
					| Compartir en
					.ui.four.column.center.aligned.grid
						.column
							a.ui.item(href='http://twitter.com')
								.ui.icon
									i.icon-chef-twitter.icon
						.column
							a.ui.item(href='http://youtube.es')
								.ui.icon
									i.icon-chef-google.icon
						.column
							a.ui.item(href='http://facebook.com')
								.ui.icon
									i.icon-chef-facebook.icon
						.column
							a.ui.item(href='http://pinterest.es')
								.ui.icon
									i.icon-chef-pinterest.icon

	.ui.page.grid
		#recipe-content.ui.grid.segment
			.row
				.eleven.wide.column
					.ui.four.column.grid
						.column
							i.icon-chef-time.icon
							.span= (data.recipe.time < 60) ? data.recipe.time + ' min' : (data.recipe.time / 60).toFixed(2) + ' h'

						.column
							i.icon-chef-porciones.icon
							.span= data.recipe.portions

						.difficulty.column
							- var difficulty = data.recipe.difficulty
							- for(var i = 0; i < 5; i++)
								if(difficulty == 0)
									i.icon-chef-tenedor.icon.off
								else
									i.icon-chef-tenedor.icon.on
									- difficulty = difficulty - 1;
						.column
							.rating
								.span
									.ui.icon
										- var rating = Math.floor(data.recipe.rating) || 0
										- for(var x = 0; x < 5; x++)
											if(rating == 0)
												i.icon-chef-star.icon.off
											else
												i.icon-chef-star.icon.on
												- rating = rating - 1;

				.five.wide.column.right.aligned
					.ui.button.chef.button-yellow
						a Favorito
					.ui.button.chef.button-brick
						a Añadir a menú

			.row
				.sixteen.wide.column
					!= data.recipe.description

			.row
				.sixteen.wide.column
					h2.ui.header Ingedientes
					p En caso de que te falte algún ingrediente pulsa sobre la cesta de la compra y será añadido automáticamente a tu lista de la compra.

					.ui.button.chef.button-green
						a Añadir a la lista de la compra

					.ingredients
						- var array = data.recipe.ingredients.split('<p>')
						- for(var j = 1; j < array.length; j++)
							.ingredient
								.span.icon-chef-cesta!= array[j]

						.span.icon-chef-cesta.ingredient Marcar todos

			.row
				.sixteen.wide.column
					h2.ui.header Procedimiento
					.steps
						- var array = data.recipe.procedure.split('<p>')
						- for(var j = 1; j < array.length; j++)
							.step
								.ui.header.icon-chef-tick= 'Paso ' + j
								.ui.content!= array[j]

