extends ../layouts/default

include ../mixins/header
//include ../mixins/search-result
include ../mixins/search


block js
  | <script>
  | chef.typeNames = chef.typeNames || {}
  | chef.typeNames['recipe'] = "#{__('Recipe')}"
  | chef.typeNames['videorecipe'] = "#{__('Videorecipe')}"
  | </script>
  script(src='/js/search.js')


block content
  - var vars = {}
  - vars.headerClasses = 'narrow'
  - vars.headerElements = 'simple'

  +header(data, section, vars)

  .ui.page.grid.body

    +search()

    #search-tab.row.tablet.computer.only
      .five.tabs.tab-header
        .row
          .tab
            a#tab-_all(href='#')
              .ui.button.chef.button-green.active
                | #{__('All')}
          .tab
            a#tab-recipes(href='#')
              .ui.button.chef.button-green
                | #{__('Recipes')}
          .tab
            a#tab-videorecipes(href='#')
              .ui.button.chef.button-green
                | #{__('Videorecipes')}
          .tab
            a#tab-tips(href='#')
              .ui.button.chef.button-green
                | #{__('Tips')}
          .tab
            a#tab-menus(href='#')
              .ui.button.chef.button-green
                | #{__('Menus')}

    #search-select.row.mobile.only.explain
      #select.sixteen.wide.column
        .icon.icon-chef-select
        select
          option(value='_all')
            | #{__('All')}
          option(value='recipes')
            | #{__('Recipes')}
          option(value='videorecipes')
            | #{__('Videorecipes')}
          option(value='tips')
            | #{__('Tips')}
          option(value='menus')
            | #{__('Menus')}

    #search
      .sixteen.wide.column.center.aligned

      #results.ui.grid.segment
        .row
          .ui.grid.segment.list.stackable

        .row
          .loader
            .sixteen.wide.column.loading= __('Loading more recipes')
            .sixteen.wide.column.load-more
              .ui.button.chef.button-brick.load-button
                a(href="#")= __('Load more')

        .row
          .empty-resultset.sixteen.wide.column= __('No results')
