extends ../layouts/default

block content
	#signup.signin.ui.grid.segment
		.ui.page.grid.head
			.row.logo
				a.icon-chef-logo.icon(href="/")

			.row.section
				.title= __('Register')
				.subtitle= __('Easy and fast')

		.ui.page.grid.body
			.row
				.sixteen.wide.column
					.ui.two.column.grid
						.column.center.aligned.group
							.explain.right= __('Register with social networks')

							include ../components/signin-social

						.column.group.dashed
							.explain.left= __('or register with email')

							include ../components/signup-local
		.ui.page.grid.tail
			.row
				.sixteen.wide.column
					.link
						| #{__('Already registered?') + ' '}
						a(href='/acceso')= __('Login')

block js
	| <script>
	|	chef.errorMessages = chef.errorMessages || {}
	|	chef.errorMessages['Email format'] = "#{__('Error: Email format')}"
	|	chef.errorMessages['Password format'] = "#{__('Error: Password format')}"
	|	chef.errorMessages['Username format'] = "#{__('Error: Username format')}"
	| </script>