extends ../layouts/default

include ../mixins/header

include ../mixins/tip
include ../mixins/search

block js
  script(src='/js/tips.js')


block content

  +header(data, section)

  //- #add-new-bar.ui.page.grid.bg-grey
  //-   .row
  //-     .sixteen.wide.column
  //-       .span= __('Do you have a new tip?')
  //-         .ui.button.chef.button-green
  //-           a(href='/nuevo-tip')= __('Create tip')

  .ui.page.grid.body

    +search('tips')

    #tips.ui.grid.segment.two.tabs
      .row.tab-header
        .tab
          a(href='/tips/recientes')
            div(class="#{subsection === 'recientes' ? 'active' : ''}").ui.button.chef.button-green
              | #{__('Recent')}
        .tab
          a(href='/tips/populares')
            div(class="#{subsection === 'populares' ? 'active' : ''}").ui.button.chef.button-green
              | #{__('Popular')}

      .row
        .ui.grid.segment.list.stackable
          if data.tips.length
            each tip in data.tips
              +tip(tip)
          else
            .empty-resultset.sixteen.wide.column= __('No tips yet')

      .row
        .loader
          .sixteen.wide.column.loading= __('Loading more tips')
          .sixteen.wide.column.load-more
            .ui.button.chef.button-brick.load-button
              a(href="#")= __('Load more')
