extends ../layouts/default

include ../mixins/recipe

include ../mixins/header


block vars
  - bodyClasses.push(data.recipe.classes)

block js
  //- JAVASCRIPT
  script(src='/js/recipe.js')

  if config
    script.
      window.chef.editor.config = !{JSON.stringify(config)};

  if isNew
    script.
      $(document).ready(function(){
        console.log('Ready');
        window.chef.setEditableModeOn();

        // Overwrite cancell function
        $('#cancel.button-manage').off().on('click', function() {
          window.location.href ='/recetas';
        });
      });

  //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
  //- which generate links to edit content for users who can access Keystone
  if user && user.canAccessKeystone
    script(src='/keystone/js/content/editor.js')

block content

  if own
    input#hidden-title(type='hidden' name='title')
    input#hidden-difficulty(type='hidden' name='difficulty')
    input#hidden-time(type='hidden' name='time')
    input#hidden-portions(type='hidden' name='portions')
    input#hidden-description(type='hidden' name='description')
    input#hidden-ingredients(type='hidden' name='ingredients')
    input#hidden-procedure(type='hidden' name='procedure')
    input(type='hidden' name='_csrf' value='#{csrftoken}')
    if data.contest && isNew
      input(type='hidden' name='contest.id' value='#{data.contest._id}')
  - var vars = {}
  - vars.image = data.recipe.thumb.header
  - vars.title = data.recipe ? data.recipe.title : ''
  - vars.author = data.recipe ? ( data.recipe.author.name || data.recipe.author.username) : __('Unknown author')
  - vars.video = data.recipe ? data.recipe.videoUrl : null
  - vars.authorUrl = data.recipe ? data.recipe.author.url : '/'
  - vars.headerClasses = 'promoted'
  - vars.headerElements = 'with-subtitle with-social'

  +header(data, section, vars)

  #color-bar.ui.grid.show-editable
    .five.column.row
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
      .column
        .color-bar
  if (data.contest)
    .ui.page.grid.bg-grey
      .row
        #info.sixteen.wide.column
          .recipe-contest
            a.title.header.uppercase.remove-editable(href=data.contest.url)= data.contest.title
            span.title.header.uppercase.display-editable= data.contest.title
            .subheader
              i.icon-chef-cup.icon.font-extra-large
              span.explain= __('Contest sponsored by')
              strong.explain= data.contest.sponsor

  .ui.page.grid
    #recipe-content.ui.grid.segment

      include ../components/recipe-content

      #others.row.hide-editable(class=(classCategory !== '') ? 'no-margin-top' : '')
        #recipes.ui.grid.stackable.segment
          #related.four.column.row
            h2.ui.header= __('other recipes')
            if related && related.length > 0
              - for (var i = 0, l = related.length; i < l; i++)
                .column
                  .related(style='background-image: url(#{related[i].thumb.header}); background-position:center; background-size:cover;')
                    a(href='#{related[i].url}')
                      .content
                        span= related[i].title
              .column
                .related.button
                  a(href='/videorecetas')
                    .content
                      .span= __('View all')
            else
              .empty-resultset.sixteen.wide.column= __('No related recipes yet')
