mixin about(user)
	//- if user privacy settings
	.four.wide.column.picture-wrapper
		.picture
			if !user.media.avatar.url
				- user.media.avatar.url = '../images/test_user.png'

			#profile-img.ui.image.avatar(style="background-image: url(#{user.media.avatar.url}); background-size: cover; background-position:center; ")
			.icon-chef-camera.rounded.show-editable
				input#profile-img-select(type="file" name="avatars.local_upload" accept="image/*")

	.twelve.wide.column.info
		h2.ui.header= __('Hi user! (prefix)')
			strong#profile-name.set-editable.one-line.no-paste(data-length="20")= user.name
			|#{__('Hi user! (postfix)')}
		#profile-about.ui.content.set-editable(spellcheck="false")!= user.about