mixin contest-recipe(recipe,i)

	.five.wide.column
		.thumbnail(style = 'background-image: url(' + recipe.thumb.list + ')')
			.row

			.row

			.row
				.ui.three.column.center.aligned.grid
					.column
						i.icon-chef-time.icon
						.span= recipe.time + ' ' + __('min')

					.column
						i.icon-chef-porciones.icon
						.span= recipe.portions

					.difficulty.column
						- var difficulty = recipe.difficulty
						- for(var x = 0; x < 5; x++)
							if(difficulty == 0)
								i.icon-chef-tenedor.icon.off
							else
								i.icon-chef-tenedor.icon.on
								- difficulty = difficulty - 1;

	.eleven.wide.column
			.rating(data-slug = recipe.slug, class = user.likes.indexOf(recipe._id) !== -1 ? 'liked' : '')
				.voted.on= __('Unlike recipe!')
				.voted= __('Like recipe!')
				.ui.icon.like.font-larger
					i.icon-chef-like.icon.like-button.font-larger
					span.like-counter= recipe.likes || 0
					
			a(href=recipe.url)
				span.ui.header= (i + 1) + '#'
				h2.ui.header
					!= recipe.title

			.ui.content!= recipe.description

			if (recipe.isOfficial)
				.official
					img(src='/images/ribbon.png')