mixin editable(editable, own)
  if editable && own
    #manage-wrapper
      .ui.menu
        .menu
            #edit.ui.button.chef.button-manage
              a= __('Edit')

            if manageable && data.recipe
              if data.recipe.state == 'draft'
                #publish.ui.button.chef.button-manage
                  a= __('Publish')
              else if data.recipe.state == 'published' || data.recipe.state == 'review'
                #draft.ui.button.chef.button-manage
                  a= __('Draft')
    .fixed
      .relative
        #actions-wrapper.ten.mobile-sixteen.wide.column
          .ui.menu
            .menu
              if section === 'new-recipe' || section === 'recipe'
                #help.ui.button.chef.button-manage
                  a= __('Helps')
              if manageable && !isNew
                #delete.ui.button.chef.button-manage
                  a.icon.icon-chef-cross.explain
              #cancel.ui.button.chef.button-manage
                a= __('Cancel')
              #update.ui.button.chef.button-manage
                a= __('Save')
