mixin form-wrapper(section, data)

  if section === 'recipe' && data.recipe
    form#recipe-draft-form(action=data.recipe.url + '/draft' method='POST' enctype='multipart/form-data')
      input(type='hidden' name='_csrf' value='#{csrftoken}')

    form#recipe-publish-form(action=data.recipe.url + '/publish' method='POST' enctype='multipart/form-data')
      input(type='hidden' name='_csrf' value='#{csrftoken}')

    form#recipe-remove-form(action=data.recipe.url + '/remove' method='POST' enctype='multipart/form-data')
      input(type='hidden' name='_csrf' value='#{csrftoken}')

    form#recipe-edit-form(action=data.recipe.url + '/save' method='POST' enctype='multipart/form-data')
      block content

  else if section === 'new-recipe'
    form#recipe-edit-form(action='/nueva-receta/save' method='POST' enctype='multipart/form-data')
      block content

  else if section === 'menu' && data.menu

    form#menu-draft-form(action=data.menu.url + '/draft' method='POST' enctype='multipart/form-data')
      input(type='hidden' name='_csrf' value='#{csrftoken}')

    form#menu-publish-form(action=data.menu.url + '/published' method='POST' enctype='multipart/form-data')
      input(type='hidden' name='_csrf' value='#{csrftoken}')

    form#menu-remove-form(action=data.menu.url + '/remove' method='POST' enctype='multipart/form-data')
      input(type='hidden' name='_csrf' value='#{csrftoken}')

    form#menu-edit-form(action=data.menu.url + '/save' method='POST' enctype='multipart/form-data')
      block content

  else if section === 'new-menu'
    form#menu-edit-form(action='/nuevo-menu/save' method='POST' enctype='multipart/form-data')
      block content

  else if section === 'privateProfile'

    form#profile-remove-form(method="post" action="/perfil/remove")
      input(type="hidden" name="_csrf" value="#{csrftoken}")

    form#profile-change-form(method="post" action="/perfil/change")
      input#hidden-username(type="hidden" name="username" value="#{user.username}")
      input#hidden-email(type="hidden" name="email" value="#{user.email}")
      input#hidden-old-password(type="hidden" name="old-pass" autocomplete="off")
      input#hidden-new-password(type="hidden" name="new-pass" autocomplete="off")
      input#hidden-isPrivate(type="hidden" name="isPrivate" checked=(user.isPrivate ? "checked" : undefined))
      input#hidden-receiveNewsletter(type="hidden" name="receiveNewsletter" checked=(user.receiveNewsletter ? "checked" : undefined))
      input(type="hidden" name="_csrf" value="#{csrftoken}")

    form#profile-form(action="/perfil/save" method="POST" enctype="multipart/form-data")
      input#hidden-name(type="hidden" name="name")
      input#hidden-about(type="hidden" name="about")
      input(type="hidden" name="_csrf" value="#{csrftoken}")
      block content

  else
    block content