mixin form-wrapper(section, data)
  if section === 'recipe'
    - var urlAction = '/';
      if isNew
        - urlAction = '/nueva-receta'
      else
        - urlAction = '/receta/' + data.recipe.slug

    form#recipe-remove-form(action=urlAction + '/remove' method='POST' enctype='multipart/form-data')
      input(type='hidden' name='_csrf' value='#{csrftoken}')

    form#recipe-edit-form(action=urlAction + '/save' method='POST' enctype='multipart/form-data')
      block content

  else if section === 'privateProfile'

    form#profile-remove-form(method="post" action="/perfil/remove")
      input(type="hidden" name="_csrf" value="#{csrftoken}")

    form#profile-change-form(method="post" action="/perfil/change")
      input#hidden-username(name="username" value="#{user.username}")
      input#hidden-email(name="email" value="#{user.email}")
      input#hidden-old-password(name="old-pass" type="password" autocomplete="off")
      input#hidden-new-password(name="new-pass" type="password" autocomplete="off")
      input#hidden-isPrivate(name="isPrivate" type="checkbox" checked=(user.isPrivate ? "checked" : undefined))
      input(type="hidden" name="_csrf" value="#{csrftoken}")

    form#profile-form(action="/perfil/save" method="POST" enctype="multipart/form-data")
      input#hidden-name(type="hidden" name="name")
      input#hidden-about(type="hidden" name="about")
      input(type="hidden" name="_csrf" value="#{csrftoken}")
      block content