mixin header(recipe, section)
	- var state = 0
	- var image = '/images/defaul_image.jpg'
	- var title = __('No recommendation');
	- var author = 'Unknow'

	if recipe
		- state = recipe.state
		- image = recipe.header.url
		- title = recipe.title
		- author = recipe.author.name || recipe.author.username
	else
		- image = ''
		- title = ''
		- author = user.name || user.username

	.promoted.ui.grid.segment(style="background-image:url('#{image}')")

		.shadow-layer

		if section === 'home'

			.ui.page.grid.head.simple.with-social
				#header.row
					include ../components/header

				.row.logo.shadow
					a.icon-chef-logo.icon(href="/")

				.row
					.social.four.tablet-seven.wide.column.tablet.computer.only
						.corner-position.left
							|#{__('Follow us on social networks')}
							include ../components/share

					.four.wide.column.computer.only

					.img-title.eight.tablet-nine.mobile-sixteen.wide.column
						.tabla
							p= __('Today promoted')
							.tabla1
								.ui.image
							.tabla2
								.text
									.span= title
							.tabla3
								.ui.image

		else if section === 'recipes'
			.ui.page.grid.head.with-title.with-social
				#header.row
					include ../components/header

				.row.logo.shadow
					a.icon-chef-logo.icon(href="/")

				.row.section.title
					.shadow= __('Recipes')

				.row
					.social.four.tablet-seven.wide.column.tablet.computer.only
						.corner-position.left
							|#{__('Follow us on social networks')}
							include ../components/share

					.four.wide.column.computer.only

					.img-title.eight.tablet-nine.mobile-sixteen.wide.column
						.tabla
							p= __('Today promoted')
							.tabla1
								.ui.image
							.tabla2
								.text
									.span= title
							.tabla3
								.ui.image

		else if section === 'recipe'

			.ui.page.grid.head.with-subtitle.with-social
				#header.row
					include ../components/header

				.row.logo.shadow
					a.icon-chef-logo.icon(href="/")

				.row.section.title
					#recipe-title.shadow.set-editable.one-line(data-length="40")= title

				.row.section.subtitle
					.author.shadow= author

				//- Check if recipe is published to show social buttons
				if state > 0
					.row.computer.only.social
						.four.wide.column
							.corner-position.left
								|#{__('Follow us on social networks')}
								include ../components/share

						.six.wide.column

						.six.wide.column.right.aligned
							.corner-position.right
								.ui.button.chef.button-gray.show-editable.file-select
									input#recipe-header-select(type="file" name="header_upload" accept="image/*")
									i.social.icon-chef-camera
									span
									|#{__('Change image')}


		else if section === 'new-recipe'

			.ui.page.grid.head.with-subtitle.with-social
				#header.row
					include ../components/header

				.row.logo.shadow
					a.icon-chef-logo.icon(href="/")

				.row.section.title
					.editable-container
						#recipe-title.shadow.set-editable.one-line(placeholder=__('Write here recipe name'), data-length="40")= title

				.row.section.subtitle
					.author.shadow= author

				//- Check if recipe is published to show social buttons
				if state > 0
					.row.computer.only.social
						.four.wide.column
							.corner-position.left
								|#{__('Follow us on social networks')}
								include ../components/share