mixin header(recipe, section)
	- var image = '/images/defaul_image.jpg'
	- var title = 'Sin recomendación'

	if recipe
		- image = recipe.header.url
		- title = recipe.title

	.promoted.ui.grid.segment(style="background-image:url('#{image}')")

		.shadow-layer

		if section === 'home'

			.ui.page.grid.head.simple.with-social
				#header.row
					include ../components/header

				.row.logo.shadow
					a.icon-chef-logo.icon(href="/")

				.row
					.social.four.tablet-seven.wide.column.tablet.computer.only= __('Follow us on social networks')
						include ../components/share

					.four.wide.column.computer.only

					.img-title.eight.tablet-nine.mobile-sixteen.wide.column
						.tabla
							p= __('Today promoted')
							.tabla1
								.ui.image
							.tabla2
								.text
									.span= title
							.tabla3
								.ui.image

		else if section === 'recipes'
			.ui.page.grid.head.with-title.with-social
				#header.row
					include ../components/header

				.row.logo.shadow
					a.icon-chef-logo.icon(href="/")

				.row.section.title
					.shadow= __('Recipes')

				.row
					.social.four.tablet-seven.wide.column.tablet.computer.only= __('Follow us on social networks')
						include ../components/share

					.four.wide.column.computer.only

					.img-title.eight.tablet-nine.mobile-sixteen.wide.column
						.tabla
							p= __('Today promoted')
							.tabla1
								.ui.image
							.tabla2
								.text
									.span= title
							.tabla3
								.ui.image

		else if section === 'recipe'

			.ui.page.grid.head.with-subtitle.with-social
				#header.row
					include ../components/header

				.row.logo.shadow
					a.icon-chef-logo.icon(href="/")

				.row.section.title
					#recipe-title.shadow.set-editable= data.recipe.title

				.row.section.subtitle
					.author.shadow= data.recipe.author.name

				.row.computer.only.social
					.four.wide.column= __('Follow us on social networks')
						include ../components/share
