mixin question(question)

  .query.row(class = 'state-' + question.state, data-slug=question.slug, data-state=question.state)
    .arrow-left
    .three.wide.column.tablet-four
      if user && user.isAdmin
        a.delete-qa= __('Delete')
        a.undelete-qa= __('Undelete')
      a.ui.item.profile(href = question.state === 'published' ? question.url : false)
        - var avatar = question.author ? question.author.thumb.avatar_large : "/images/default_user.png"
        .ui.image.avatar(style='background-image: url(#{avatar})')

    .thirteen.wide.column.tablet-eleven
      .ui.column.grid
        a.name.seven.wide.column.mobile-ten(href = question.state === 'published' ? question.url : false)
          span.span= question.author ? question.author.name : __('Unknown author')

        a.date.five.wide.column.mobile-six(href = question.state === 'published' ? question.url : false)
          span.span= question.formattedDate

        //- a.commentary.two.wide.column(href = question.state === 'published' ? question.url : false)
        //-   span.strong= __('Coments')

      a.row(href = question.state === 'published' ? question.url : false)
        .ui.content
          .span.explain= question.title