mixin recipe-shopping(recipe)
	.row.position(data-slug= recipe.slug)
		a(href=recipe.url).hover-lis
		.five.wide.column.mobile-sixteen
			.thumbnail(style = 'background-image: url(' + recipe.thumb.shopping_list + ')')
				.row
				.row
				.row
					.center.aligned
						a(href=recipe.url)
							h2.ui.header
								!= recipe.title

		.ingredients.eleven.wide.column
			#shopping-header.ui.grid
				.ten.column.wide
					em.row.remaining.font-large
						span= __('Remaining ingredients before') + " "
						span.counter= recipe.ingredients.length
						span= " " + __('Remaining ingredients after')
				.six.wide.column
					.ui.button.chef.button-brick.shopping-remove
						i.icon-chef-cross.icon.chef.font-large
					.ui.button.chef.button-yellow.shopping-print
						i.icon-chef-impresora.icon.chef.font-large
					.ui.button.chef.button-green.shopping-mail
						i.icon-chef-mails.icon.chef.font-large
			#shopping-ingredients.ui.grid
				.sixteen.column.wide
					.ui.three.mobile-one.tablet-two.column.grid
						if recipe.ingredients
							- for (var j = 0, l = recipe.ingredients.length; j < l; j++)
								.column.ingredient
									.icon-chef-cesta.checks
									| #{recipe.ingredients[j]}