mixin recipe(recipe)
	div(class=recipe.classes).row.position
		a(href=recipe.url).hover-list
		.five.wide.column
			.thumbnail(style = 'background-image: url(' + recipe.thumb.list + ')')
				.row

				.row

				.row
					.ui.three.column.center.aligned.grid
						.column
							i.icon-chef-time.icon
							.span= recipe.time + ' ' + __('min')

						.column
							i.icon-chef-porciones.icon
							.span= recipe.portions

						.difficulty.column
							- var difficulty = recipe.difficulty
							- for(var x = 0; x < 5; x++)
								if difficulty == 0
									i.icon-chef-tenedor.icon.off
								else
									i.icon-chef-tenedor.icon.on
									- difficulty = difficulty - 1;

		.eleven.wide.column
			.rating
				.strong= __('Rating')
				.span
					.ui.icon
						- var rating = Math.floor(recipe.rating) || 0
						- for(var x = 0; x < 5; x++)
							if rating == 0
								i.icon-chef-star.icon.off
							else
								i.icon-chef-star.icon.on
								- rating = rating - 1;
				.status-recipe
					if recipe.contest && recipe.contest.id
						.ribbon
							span.icon-chef-var
					else if recipe.state !== 'published'
						.general-state
							span.icon-chef-var

			a(href=recipe.url)
				h2.ui.header
					!= recipe.title

			.ui.content!= recipe.description

			if (recipe.isOfficial)
				.official
					img(src='/images/ribbon.png')
