mixin recipe-shopping(recipe)
	.row.position
		a(href=recipe.url).hover-lis
		.five.wide.column
			.thumbnail(style = 'background-image: url(' + recipe.thumb.shopping_list + ')')
				.row
				.row
				.row
				.row
				.row
					.center.aligned
						a(href=recipe.url)
							h2.ui.header
								!= recipe.title

		.eleven.wide.column
			
			#ingredients.ui.grid
				.thirteen.column.wide
					.row.remaining
						span= __('Remaining ingredients before')
						span.counter=10
						span= __('Remaining ingredients after')
					.ui.two.mobile-one.column.grid
						if recipe.ingredients
							- var ingredients = recipe.ingredients.replace(/(<\/p>|\r|\n)/gi, '').split('<p>')
							- for (var j = 0, l = ingredients.length; j < l; j++)
								.column.ingredient
									.icon-chef-cesta.checks
									| #{ingredients[j]}
				.three.wide.column
					.ui.button.chef.button-green
						i.icon-chef-mails.icon.chef
					.ui.button.chef.button-yellow
						i.icon-chef-impresora.icon.chef
					.ui.button.chef.button-brick
						i.icon-chef-cross.icon.chef