mixin user-header(user)
  .ui.menu
    .right.menu
      if user
        a.ui.item.profile(href='/perfil')
          - var avatar = (!user.thumb.avatar_small || user.thumb.avatar_small.length <= 0) ? '../images/default_user.png' : user.thumb.avatar_small

          img.ui.image.avatar(src="#{avatar}")

          if user.name
            strong.username #{user.name}
          else
            strong.username #{user.username}

        if user.canAccessKeystone
          .ui.item.admin
            a.ui.button.chef.button-brick(href="/keystone")= __('Admin panel')

        .ui.item.logout
          a(href="/salir")= __('To logout')

      else
        .ui.item
          a.ui.button.chef.button-brick(href="/acceso")= __('To login')
        .ui.item
          a.ui.button.chef.button-brick(href="/registro")= __('To register')

      #menu.ui.item.menu-icon
        i.icon-chef-menu