mixin user-header(user)
  .ui.menu
    .right.menu
      if user
        a.ui.item.profile
          img.ui.image.avatar(src="#{user.thumb.avatar_small}")

          if user.name
            strong.username #{user.name}
          else
            strong.username #{user.username}
          .arrow-down

        #contextual-menu.menu.hidden
          .arrow-up
          a.ui.item.new-recipe(href='/nueva-receta')= __('Create recipe')
          a.ui.item.my-profile(href='/perfil')= __('My profile')
          a.ui.item.my-recipe(href='/perfil/recetas')= __('My recipes')
          a.ui.item.my-shopping(href='/perfil/compra')= __('My shopping list')
          a.ui.item.my-menu(href='/perfil/menus')= __('My menus')
          a.ui.item.logout(href="/salir")= __('To logout')

        if user.canAccessKeystone
          .ui.item.admin
            a.ui.button.chef.button-brick(href="/keystone")= __('Admin panel')

      else
        .ui.item.access-menu
          a.ui.button.chef.button-brick.no-modal(href="/acceso")= __('To login')
        .ui.item.access-menu
          a.ui.button.chef.button-brick.no-modal(href="/registro")= __('To register')

      #menu.ui.item.menu-icon
        i.icon-chef-menu
