<div class="row position">
	<a href="/receta/{{slug}}" class="five wide column">
		<div class="thumbnail" style="background-image: url({{image}})">
			<div></div>

			<div></div>

			<div>
				<div class="ui three column center aligned grid">
					<div class="column">
						<i class="icon-chef-time icon"></i>
						{{!-- <div class="span">{{#formatTime time}}</div> --}}
					</div>

					<div class="column">
						<i class="icon-chef-porciones icon"></i>
						<div class="span">{{portions}}</div>
					</div>

					<div class="difficulty column">
						{{!-- {{#formatIcons difficulty}} --}}
					</div>
				</div>
			</div>
		</div>
	</a>

	<div class="eleven wide column">
		<div class="ui twelve column">
			<div class="rating">
				<div class="strong">
					__('Rating')
				<div class="span">
					<div class="ui icon">
						{{!-- {{#formatIcons rating}} --}}
					</div>
				</div>
			</div>

			<a href="/receta/{{slug}}">
				<h2 class="ui header">{{title}}<h2>
			</a>

			<div class="ui content">{{slug}}</div>

			{{!-- {{#formatIcons isOfficial}} --}}
		</div>
	</div>
</div>