extends ../../layouts/default
include ../../mixins/header

block content

  +header(data, section)

  .ui.page.grid.body
    #about-info.ui.grid.segment
      .sixteen.wide.column
        .row
          h2.ui.header= __('Presentation')
          .explain
            p Jesús Gibaja "Chefcito" es uno de los máximos exponentes de la cocina latinomericana moderna, su formación, talento y carisma personal le han convertido en una figura muy popular y respetada en el mundo gastrómico.  Además de su labor como chef, Gibaja es un gran divulgador de la cocina y la cultura mexicana, actualmente sus programas de TV se emiten por toda America Latina, Norteamerica y gran parte de Europa. Es un profesional comprometido con la alimentación saludable y la cultura gastronómica. En este espacio encontrarás su mayor colección de recetas, menús y tips para que puedas descubrir y disfrutar de la cocina mexicana de vanguardia.
          img(src='/images/meal.png')

      #share-bio.ui.grid.segment
        .corner-position.left
          p.explain= __('Follow me in:')
        a(href='http://facebook.com',target='_blank')
          i.icon-chef-facebook.icon
        a(href='http://twitter.com',target='_blank')
          i.icon-chef-twitter.icon
        a(href='http://plus.google.com',target='_blank')
          i.icon-chef-google.icon
        a(href='http://youtube.es',target='_blank')
          i.icon-chef-youtube.icon
        a(href='http://pinterest.es',target='_blank')
          i.icon-chef-pinterest.icon

      .sixteen.wide.column
        .row
          h2.ui.header= __('Biography')
          .explain
            p Jesús Gibaja inició sus estudios en el Colegio Superior de Gastronomía, para luego realizar una estadía profesional en el restaurante Arzak, dirigido por Juan Maria Arzak, reconocido como uno de los mejores restauradores del mundo. Más adelante trabajó en el Restaurante Siglo XIX del Hotel Park Hyatt de Philadelphia y en el prestigioso restaurante Per Se, en Nueva York.
            p Ya de regreso a México funda Gibaja Gastronomía, que terminó por convertirse en una consultoría gastronómica que intenta trasladar a la gente una verdadera experiencia culinaria, mezclando la extensísima tradicion gastrónomica mexicana con las nuevas tendencias del mundo de la cocina.
  #about-quote.ui.page.grid.body
    .sixteen.wide.column
      .row
        i
          h2.ui.header= '"Unas palabras o quote del chefcito"'

  //- #media.ui.page.grid.body
  //-   h2.ui.header= 'Gibaja en otros medios'
  //-   .sixteen.wide.column
  //-     .explain
  //-       p Puede estar al tanto de mis noticias, novedades y entrevistas a través de otros medios.
  //-   .ui.grid.segment
  //-     .row.tablet.computer.only
  //-       .three.tabs.tab-header
  //-         .row
  //-           .tab
  //-             a(href='#')
  //-               div.ui.button.chef.button-green
  //-                 i.icon-chef-libro.icon
  //-                 | #{__('Press')}
  //-           .tab
  //-             a(href='#')
  //-               div.ui.button.chef.button-green.active
  //-                 i.icon-chef-micro.icon
  //-                 | #{__('Radio')}
  //-           .tab
  //-             a(href='#')
  //-               div.ui.button.chef.button-green
  //-                 i.icon-chef-tv.icon
  //-                 | #{__('Television')}

  //-       .sixteen.wide.column
  //-         .explain
  //-           p Puede estar al tanto de mis noticias, novedades y entrevistas a través de otros medios.
