extends ../../layouts/default
include ../../mixins/header

block content

  +header(data, section)

  .ui.page.grid.body
    .ui.grid.segment
      .sixteen.wide.column
        .row
          .explain
            p Estamos aquí para ayudarte, si necesitas contactar con nosotros para asistencia técnica, dudas o sugerencias no dudes en mandarnos un mensaje, puedes utilizar cualquiera de los métodos que te proponemos a continuación

    #contact.ui.grid.segment
      .row
        .three.wide.column.mobile-one
        .six.wide.column.mobile-eight.ui.grid
          .two.column.wide
            i.icon-chef-location.icon
          .twelve.column.wide
            .span Plutarco Elías calles #18
            .span Colonia Lomas Hipódromo
            .span Mexico DF 53910
        .four.wide.column.mobile-six.ui.grid
          .three.column.wide
            i.icon-chef-movil.icon
          .twelve.column.wide
            .span +52 NBL OR
            .span Contacto@creandosabores.com
        .three.wide.column.mobile-one

    #form-contact.ui.grid.segment
      .row
          .four.wide.column.mobile-one
          .eight.wide.column.mobile-fourteen
            h2.ui.header= __('Send us a message')
            form.form-contact(method='post', action='/contacto', role='contact', novalidate)
              .ui.input

                input(
                  type='hidden'
                  name='action'
                  value='contact-form')
                input(
                  type='text'
                  name='url'
                  value=''
                  class='hidden')

                if !user
                  label(for='name')= __('Name')
                  input(
                    type='name'
                    name='name'
                    id='name'
                    placeholder= __('enter your name...'))

                  label(for='email')= __('Email')
                  input(
                    type='email'
                    name='email'
                    id='email'
                    placeholder= __('enter your email...'))

                label(for='message')= __('Message')
                textarea(
                  type='text'
                  name='text'
                  id='comment'
                  placeholder= __('enter your message...'))
                button.icon.chef.button-brick(type='submit')= __('Send')
          .four.wide.column.mobile-one