extends ../../layouts/default
include ../../mixins/header
include ../../mixins/about
include ../../mixins/recipe
include ../../mixins/recipe-shopping

block js
	script(src='/js/profile.js')

block content

	+header(data, section)
	.ui.grid.segment.page
			#add-new-bar.row
				.four.wide.column.mobile-two
				.twelve.wide.column
					.span= __('Do you have a new recipe?')
						.ui.button.chef.button-brick.hide-editable
							a(href='/nueva-receta')= __('Create recipe')
	.ui.page.grid.segment.body.about
		.column
			.ui.stackable.grid
				+about(user)

	.ui.page.grid.segment.body
		.row.tablet.computer.only
			.six.tabs.tab-header
				.row
					.tab
						a(href='/perfil')
							div(class="#{subsection === 'profile' ? 'active' : ''}").ui.button.chef.button-green
								| #{__('My account')}
					.tab
						a(href='/perfil/compra')
							div(class="#{subsection === 'shopping' ? 'active' : ''}").ui.button.chef.button-green
								| #{__('Shopping list')}
					.tab
						a(href='/perfil/recetas')
							div(class="#{subsection === 'recipes' ? 'active' : ''}").ui.button.chef.button-green
								| #{__('My recipes')}
					.tab
						a(href='/perfil/favoritas')
							div(class="#{subsection === 'favourites' ? 'active' : ''}").ui.button.chef.button-green
								| #{__('Favorites')}
					.tab
						a(href='/perfil/tips')
							div(class="#{subsection === 'tips' ? 'active' : ''}").ui.button.chef.button-green
								| #{('My tips')}
					.tab
						a(href='#')
							.ui.button.chef.button-green.disabled
								| #{('My menus')}


		if subsection == 'profile'
			.row
				#profile.column.tab-content
					.row
						.three.column.stackable.ui.grid
							.column
								#user-name.field
									label.explain= __('Username')
									input(name="username" value="#{user.username}")
							.column
								#email.field
									label.explain= __('Email')
									input(name="email" value="#{user.email}")
							.column
								.password.field
									.ui.button.chef.button-brick
										a(href='/')= __('Change password')
					#pass-row.row
						.three.column.stackable.ui.grid
							.column
								.password.field
									label.explain= __('Actual password')
									input#old-pass(name="old-pass" type="password" autocomplete="off")
							.column
								.password.field
									label.explain= __('New password')
									input#new-pass(name="new-pass" type="password" autocomplete="off")
							.column

					.row.group-box
						.column
							label.explain= __('Privacy')
							#private.field.checkbox
								label
									input(name="isPrivate" type="checkbox" checked=(user.isPrivate ? "checked" : undefined))
									span.icon-chef-tick= __('Private profile?')

					.row.group-box
						.column
							label.explain= __('Notifications')
							#newsletter.field.checkbox
								label
									input(name="receiveNewsletter" type="checkbox" checked=(user.receiveNewsletter ? "checked" : undefined))
									span.icon-chef-tick= __('Receive newsletter?')

					.row
						.column.grid
							#save
								.ui.button.chef.button-blue= __('Save changes')

					.row
						.colum.grid.ui
							.three.wide.column.mobile-seven
								.delete.field
									a#delete-first(href='#')= __('Remove account')

							#delete-confirm.six.wide.column.mobile-nine
								.arrow-left
								.delete.message.ui
									span= __('Are you sure remove account?')
									p= __('Content will be removed')
									.ui.button.chef.button-brick= __('Remove account')
							.seven.wide.column

		else if subsection == 'recipes'
			#recipes.tab-content
				.row
					.ui.grid.segment.list.stackable
						if recipes.length
							each recipe in recipes
								+recipe(recipe)
						else
							.empty-resultset.sixteen.wide.column= __('No recipes yet')

				.row.loader
					.sixteen.wide.column.loading= __('Loading more recipes')
					.sixteen.wide.column.load-more
						.ui.button.chef.button-brick.load-button
							a(href="#")= __('Load more')

		else if subsection == 'favourites'
			#favourites.tab-content
				.row
					.ui.grid.segment.list.stackable
						if recipes.length
							each recipe in recipes
								+recipe(recipe)
						else
							.empty-resultset.sixteen.wide.column= __('No recipes yet')

				.row.loader
					.sixteen.wide.column.loading= __('Loading more recipes')
					.sixteen.wide.column.load-more
						.ui.button.chef.button-brick.load-button
							a(href="#")= __('Load more')

		else if subsection == 'shopping'
			#shopping.tab-content
				.row
					.ui.grid.segment.list.stackable
						if recipes.length
							each recipe in recipes
								+recipe-shopping(recipe)
						else
							.empty-resultset.sixteen.wide.column= __('No recipes yet')

				.row.loader
					.sixteen.wide.column.loading= __('Loading more recipes')
					.sixteen.wide.column.load-more
						.ui.button.chef.button-brick.load-button
							a(href="#")= __('Load more')

		else if subsection === 'tips'
			#shopping.tab-content
				- console.log('TIPS', tips)
				.row
					.ui.grid.segment.list.stackable
					//- 	if recipes.length
					//- 		each recipe in recipes
					//- 			+recipe-shopping(recipe)
					//- 	else
					//- 		.empty-resultset.sixteen.wide.column= __('No recipes yet')

				.row.loader
					.sixteen.wide.column.loading= __('Loading more recipes')
					.sixteen.wide.column.load-more
						.ui.button.chef.button-brick.load-button
							a(href="#")= __('Load more')
