
block footer
	//- FOOTER
	#footer.ui.grid.segment
		.ui.page.grid
			.row
				.sixteen.wide.column
					.ui.three.column.divided.grid.stackable
						.block.column
							.ui.header= __('Jesús Gibaja')
							.ui.inverted.link.list
								a.item(href="/biografia")= __('Bio')
								a.item(href="/prensa")= __('Press media')

						.logo.column
							i.icon-chef-logo.icon

						.block.column
							.ui.header= __('Help')
							.ui.inverted.link.list
								a.item(href="/contacto")= __('Contact')
								a.item(href="/terminos")= __('Terms and conditions')
								a.item(href="/terminos")= __('Privacy')
