.form-forgotten
	form.form-password(method='post', action='/contrasena-olvidada', role='password-retrieval', novalidate)
		input(type="hidden" name="_csrf" value="#{csrftoken}")
		input(type='hidden', name='action', value='forgotten-password')
		label(for='email')= __('Email')
		input(
			type='email'
			name='email'
			id='email'
			placeholder= __('Email')
			value=locals.email)

		button(type='submit')= __('Send reset link')

	p= __('I remember,') 
		a(href='/acceso')= __('Login')
