.form-forgotten
	form.form-password.field(method='post', action='/contrasena-olvidada', role='password-retrieval', novalidate)
		.ui.icon.input
			input(type="hidden" name="_csrf" value="#{csrftoken}")
			input(type='hidden', name='action', value='forgotten-password')
			label(for='email')= __('Email')
			input(
				type='email'
				name='email'
				id='email'
				placeholder= __('Email')
				value=locals.email)

			button#send-button.icon.chef.button-brick-side(type='submit')= __('Send')

		p.explain= __('I remember,')
			a.ui.button.chef.button-green(href='/acceso')= __('Login')
