.six.wide.column
	#manage-wrapper
		.ui.menu
			.left.menu
				if section == 'privateProfile'
					#edit.ui.button.chef.button-manage
						a(href='#')= __('Edit')

.ten.wide.column
	#actions-wrapper
		.ui.menu
			.right.menu
				#cancel.ui.button.chef.button-manage
					a= __('Cancel')
				#update.ui.button.chef.button-manage
					a= __('Save')

				if (section == 'recipe')
					#delete.ui.button.chef.button-manage
						a= __('Delete')
					#publish.ui.button.chef.button-manage
						if recipe && recipe.state == 0
							a= __('Publish')
						else
							a= __('Draft')

	#menu-wrapper
		.ui.menu
			.right.menu
				if user
					a.ui.item.profile(href='/perfil')

						if !user.media.avatar.url
							- user.media.avatar.url = '../images/test_user.png'

						img.ui.image.avatar(src="#{user.media.avatar.url}")

						if user.name
							strong #{user.name}
						else
							strong #{user.username}

					if user.canAccessKeystone
						.ui.item
							a.ui.button.chef.button-brick(href="/keystone")= __('Admin panel')
					.ui.item
						a.ui.button.chef.button-brick(href="/salir")= __('To logout')

				else
					.ui.item
						a.ui.button.chef.button-brick(href="/acceso")= __('To login')
					.ui.item
						a.ui.button.chef.button-brick(href="/registro")= __('To register')

				#menu.ui.item
					i.icon-chef-menu
