.form-reset

	form.field(
		method='post'
		action='/nueva-contrasena/' + key
		role='reset-password')
		.ui.icon.input
			input(type="hidden" name="_csrf" value="#{csrftoken}")
			input(
				type='hidden'
				name='action'
				value='reset-password')
			label(for='signin-password')= __('New password')
			input(
				type='password'
				name='password'
				placeholder='Password'
				id='signin-password'
				value='')
			input(
				type='password'
				name='password_confirm'
				placeholder='Confirmación'
				id='signin-password-confirm'
				value='')
		button.icon.chef(type='submit')= __('Reset password')
