.form-reset
	h1= __('Reset password')

	form(
		method='post'
		action='/nueva-contrasena/' + key
		role='signin')
		input(type="hidden" name="_csrf" value="#{csrftoken}")
		input(
			type='hidden'
			name='action'
			value='reset-password')
		label(for='signin-password')= __('New password')
		input(
			type='password'
			name='password'
			placeholder='Password'
			id='signin-password'
			value='')
		input(
			type='password'
			name='password_confirm'
			placeholder='Password'
			id='signin-password-confirm'
			value='')
		button(type='submit')= __('Reset password')
